@px-grid-gap: 15px;

button,
input {
  --webkit-appearance: none;
  border: none;
  background: none;;
  box-shadow: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
}
