@px-grid-gap: 15px;

.card-grid(@px-overlap: 50px) {
  display: flex;
  flex-wrap: wrap;

  padding-right: @px-overlap;
  padding-top: 75px;

  &> * {
    margin-top: -75px;

    margin-right: calc(-1 * @px-overlap);
  }
}
